.TopMenu{

height: 8%;
width: auto;
background-color:#DDDDDD;

}

.browser{
background-color: #EEEEEE;
border: 3px solid silver;
height: 35%;
margin-top: 5px;
margin-left: 6px;
margin-right: 5px;
width: 1000px;
position: fixed;
}


.browser input{
	width: 140px;

}

.browser .guzik{

padding:  10px;
float: right;
}


.browser p{

	margin-left:   3px;
	margin-bottom: 3px;
}
.browser .gora{

display: inline;

}

.browser dol{

	display: inline;

}


.browser .spaninblock{
	display: inline-block;
}



.browser .a1, .a2, .a3, .a4{
padding: 5px;
float: left;
width: auto;


}

.browser .b1-2, .b2, .b3, .b4, .b5{
padding: 5px;
float: left;


}
.browser .b1-1,  .b1-4{
margin-top: 25px;
padding: 5px;
float: left;
/*clear:both;*/
}

.browser  .b1-3{ /*{problem z wysokością "kg"}*/
margin-top: 25px;
padding: 5px;
float: left;
/*clear:both;*/
}


/**/

.tabelka{ /*
wartość width:fixed dla tabeli jest w stacktable.css //poprawiony

*/
width:auto;
position: absolute; right: 1px ;bottom: 1px; left:1px;
 height:53%;
  overflow:scroll;

	padding: 5px;
	
}

thead{
position: fixed;



}

tbody tr:nth-child(odd){
	background-color: white
}

thead tr, tbody tr:nth-child(even){
	background-color: #C6CECE
}

/*@media (max-width: 1050px)*/
